@use './variables' as *;
@use './function' as *;

/*共用區*/

// .title::after {
//     content: '';
//     display: block;
//     background-color: map-get($color, dark);
//     width: 100%;
//     height: 3px;
// }

img {
    display: block;
    width: 100%;
}

.title {
    position: relative;
    @include bordered-l;
    padding-left: 1rem;
    margin: 85px 0 35px;

    &::before {
        content: '';
        position: absolute;
        left: 5px; //定位邀相對於文字字級可用rem單位
        bottom: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: map-get($color, dark);

        &::after {
            content: '';
            position: absolute;
            left: 11rem; //定位邀相對於文字字級可用rem單位
            bottom: 0;
            background-color: map-get($color, dark);
            width: calc(100%-11rem);
            height: 3px;
        }
    }

    h3 {
        line-height: 1; // bs預設h3行高為1.2，我改為1

        span {
            font: {
                size: 1rem;
            }

            ;
        }
    }
}

// 傾斜遮色片
.mask-tilt {
    mask-image: url(../image/mask.svg);
mask-size: 93% 100%;
mask-position: center;
mask-repeat: no-repeat;

// scss RWD
@media ($media-md) {
    mask-size: 90% 100%;
}
@media ($media-lg) {
    mask-size: 92% 100%;
}
}

.mask {
mask-size: 100% 100%;
mask-position: center;
mask-repeat: no-repeat;

@media ($media-md) {
    mask-size: 90% 100%;
}
@media ($media-lg) {
    mask-size: 92% 100%;
}
}

.blobs-1{
    mask-image: url(../image/blobs-1.svg);
}

.blobs-2{
    mask-image: url(../image/blobs-2.svg);
}

.blobs-3{
    mask-image: url(../image/blobs-3.svg);
}


/*最新商品*/
#new {
    a {
        position: relative;
        color: map-get($color, light);

        &:hover {
            h2 {
                opacity: 1;
            }
        }

        h2 {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: map-get($color, alpha-b-60);
        }
    }
}