// 響應式斷點
$media-sm: 'max-width:640px';
$media-md: 'min-width:768px';
$media-lg: 'max-width:992px';

// 間距
$interval-s:5px;
$interval-m:10px;
$interval-l:15px;
$interval-xl:20px;
$interval-xxl:25px;
$interval-xxxl:50px;

// 圓角尺寸
$radius-s:4px;
$radius-m:8px;
$radius-l:12px;
$radius-xl:20px;
$radius-full:99px;

// // 最大寬度
// $max-width{

// }