@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#topbar {
    display: block;
    flex-direction:row;
    
}
body {
    background-color: #097115;
    
    margin: 20px;
    font-size: 100%;
    line-height: 1.5;

}
.logo {
    font-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffe4c4;
    margin: 10px 10px 10px 10px;
    width: auto;
}
ul,
li {
    list-style: none;
}