@charset "UTF-8";
/* 一定要在行數1 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/* 一定要在第二行 */

@font-face {
    font-family: LEMONMILK;
    src: url(./webfont/LEMONMILK-Bold.otf);
}

/* 變數 */
:root {

    /* 灰階 */
    --deep: #444;
    --grey: #999;
    --light: #f1f1f1;

    /* 背景 */
    --primry: #f2edf0;
    --secondary: #e6ece5;
    --tertiary: #ecf0f4;
    --like: cornflowerblue;

    /* 輔助 */
    --lesser-1: #f3e4e4;
    --lesser-2: #efdbdb;
    --lesser-3: #cdaaab;
    --lesser-4: #8f6b6d;
    --lesser-5: #714e4f;

    /* 透明度 */
    --alpha-w-80: rgba(255, 255, 255, .8);
    --alpha-b-20: rgba(0, 0, 0, .2);
    --alpha-b-40: rgba(0, 0, 0, .4);
    --alpha-r-70: rgb(143, 107, 109, .5);

    /* 漸層 */
    --gradient-w-a: rgba(255, 255, 255, 0.15);


    /* 陰影 */
}

/* 卷軸樣式 */
/* 設定外觀形狀要從爸爸那邊p */
/* 卷軸基底 */
::-webkit-scrollbar {
    width: 20px;
}

/* 卷軸上下塊狀 */
::-webkit-scrollbar-button {
    background-color: #444;
}

/* 卷軸軌道 */
::-webkit-scrollbar-track {
    background-color: var(--lesser-1);
}

/* 卷軸移軸本身 */
::-webkit-scrollbar-thumb {
    background-color: var(--lesser-4);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--lesser-5);
}

/* 多行文字右下角的縮放按鈕 */
::-webkit-resizer {}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距padding與邊框border */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 讓點點消失 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
    color: var(--deep);
}

p {
    font-size: .8rem;
    line-height: 20px;
}

/* 共用區 */

.btn-s {
    background-color: var(--light);
    color: var(--deep);
    width: auto !important;
    height: 35px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 99px;
    transition: .35s ease-in-out;
}

.btn-s:hover {
    background-color: var(--deep);
    color: var(--light);
}

#form--contact input,
#form--contact textarea,
#topbar .menu,
#btn__contact--submit {
    /* 玻璃擬態效果 */
    /* 邊框圓角 */
    background-image: linear-gradient 15deg, var(--alpha-b-20), var(--alpha-b-40);
    background-color: transparent;
    /* 取消表單元件的預設背景色 */
    box-shadow: 2px 2px 5px var(--alpha-b-20),
        inset -1px -1px var(--alpha-w-60);
    backdrop-filter: blur(5px);
    border: none;
    /* 邊框去除 */
}

/* 首頁區 */
#topbar {
    position: fixed;
    /* 固定定位 不會跟著卷軸走 */
    z-index: 999;
    /* 讓固定的topbar浮在最上層 */
    width: 100%;
    /* 定位會變成抓內容的尺寸 所以要手動設定回w100% */

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo {
    width: 65px;
}

.logo img {
    filter: drop-shadow 2px 3px var(--light);
    /* logo陰影 */
}

.navigation {
    display: flex;
    flex-direction: column;
    /* 主軸垂直 */
    align-items: flex-end;
    /* 副軸水平置底 */
}

.navigation .icon {
    display: flex;
}

.navigation .icon a {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    transition: all .35s ease-in-out;
}

/* 只有svg會自動等比例縮放 其他檔案會維持原尺寸 */
.icon-fb {
    background-image: url(./images/icon-fb.svg);
}

.icon-fb:hover {
    background-image: url(./images/icon-fb-hover.svg);
}

.icon-ig {
    background-image: url(./images/icon-ig.svg);
}

.icon-ig:hover {
    background-image: url(./images/icon-ig-hover.svg);
}

.icon-line {
    background-image: url(./images/icon-line.svg);
}

.icon-line:hover {
    background-image: url(./images/icon-line-hover.svg);
}

.navigation .menu {
    display: flex;
    margin: 15px 0;
    padding: 10px;
    border-radius: 30px;
    /* 控制複層的外距 */
}

.navigation .menu li {
    border-left: solid 1px var(--deep);
}

.navigation .menu li:first-child {
    border: none;
}

.navigation .menu a {
    font-size: .9rem;
    line-height: 1;
    margin: 0 20px;
    border-bottom: solid 2px transparent;
}

.navigation .menu a:hover {
    border-bottom: solid 2px var(--deep);
    transition: .35s ease-in-out;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    display: flex;
    flex-direction: column;
    /* 變垂直排 */
    align-items: center;
    /* 水平置中 */
    margin: 20px;
}

.title h2 {
    font-family: LEMONMILK, sans-serif;
    font-weight: bold;
    letter-spacing: .1rem;
    border-bottom: 2px solid var(--deep);
}

.title h3 {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    line-height: 2rem;
}

.box__list {
    width: 80%;
    max-width: 1440px;
    display: flex;
}

.box__list figure {
    height: 50vh;
}

.box__list .item {
    flex: 1;
    margin: 0 15px;
    box-shadow: 2px 2px 30px var(--deep);
    overflow: hidden;
    border-radius: 10px;
}

.box__list img {
    object-fit: cover;
    /* width: 100%; 共用區img已設定過 */
    height: 100%;
}

.box__list .content {
    padding: 10px;
}

.box__list h1 {
    font-size: 1.3rem;
    font-weight: 600;
}

.box__list p {
    font-size: 1rem;
    text-align: justify;
}

/* 最新消息區 */
#news {
    background-color: var(--lesser-2);
}

#news .content {
    background-color: var(--alpha-b-20);
    transition: .4s;
}

#news .content:hover {
    background-color: var(--lesser-2);
}

#news p {
    /* 多行省略 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 文字溢出時出現省略號，若有設定line-clamp時，瀏覽器會自動加入 */
    display: -webkit-box;
    /* 彈性布局 */
    -webkit-box-orient: vertical;
    /* 定義box垂直布局 */
    -webkit-line-clamp: 5;
    /* 限制行數 */
}

/* 服務項目 */
#service {
    background-color: var(--lesser-1);
}

#service .content:hover {
    background-color: var(--lesser-4);
}

#service p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#service .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 65vh;
    background-position: center;
    background-size: cover;
}

#service a {
    width: 100%;
    /* 被父元素的flex若為row，則寬度 */
    color: var(--light);
    background-color: var(--alpha-b-40);
    /* 單純背景半透明 */
    background-color: var(--alpha-b-20);
    transition: .4s;
}

.svc-1 {
    background-image: url(./images/pt_svc1.jpg);
}

.svc-2 {
    background-image: url(./images/pt_svc2.jpg);
}

.svc-3 {
    background-image: url(./images/pt_svc3.jpg);
}

.svc-4 {
    background-image: url(./images/pt_svc4.jpg);
}

/* 相關影片區 */
#video {
    background-color: var(--grey);
}

.video {
    width: 60%;
    max-width: 1050px;
}

video {
    width: 100%;
}

#about {
    position: relative;
}

#about video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* 關於我們區 */
#about .content {
    position: absolute;
    z-index: 888;
    /* 設定順序 沒設定的話會被影片蓋住 */
    width: 65%;
    height: 100vh;
    background-color: var(--alpha-r-70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    /* 只有content裡要模糊 就設定這邊 */
}

#about p {
    width: 90%;
    height: 65vh;
    padding: 0 5% 0 0;
    overflow: auto;
    /* 最建議使用auto */
}

#about p::-webkit-scrollbar-thumb {
    border-radius: 99px;
}

#about p::-webkit-scrollbar-track {
    border-radius: 99px;
}

#about p::-webkit-scrollbar-button {
    display: none;
}

/* 聯絡我們區 */
#contact {
    /* 專門為absolute的定位依據 */
    position: relative;
    overflow: hidden;
    /* 背景影像基本設定 */
    background-image: url(./images/bg_contact.jpg);
    background-size: cover;
    /* 自動剪裁 */
    background-position: center center;
    /* XY軸 置中 */
    background-attachment: fixed;
    /* 固定背景 */
}

/* 裝飾花 */
.flower_r {
    position: absolute;
    left: -100px;
    bottom: -80px;
    width: 300px;
    transform: rotate(15deg);
}

.flower_w {
    position: absolute;
    right: -100px;
    top: 50px;
    width: 300px;
    transform: rotate(-15deg);
}

#form--contact {
    display: flex;
    flex-direction: column;
    /* 主軸(垂直) */
    align-items: center;
    /* 副軸(水平置中) */
    width: 30%;
}

#form--contact label {
    font-size: .85rem;
    line-height: 2rem;
    margin-top: 1rem;
    width: 100%;
}

#form--contact input,
#form--contact textarea {
    width: 100%;
    border-radius: 10px;
    padding: 6px;
    /* 輸入格內距 高度 */
    color: darkred;
    font-weight: 600;
}

#form--contact input:focus,
#form--contact textarea:focus {
    outline: none;
    /* 取消內邊框 */
}

#form--contact input::placeholder,
#form--contact textarea::placeholder {
    font-size: .8rem;
    font-weight: 400;
    color: var(--like);
}

#form--contact small {
    font-size: .8rem;
    color: var(--like);
    padding: 15px 5px;
}

/* 動態按鈕 */
#btn_contact--submit {
    /* position: relative; */
    /* outline: none; */
    /* text-decoration: none; 取消文字裝置底線 */
    border-radius: 50px;
    /* 定義起始位置 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 指標樣式 */
    cursor: pointer;
    /* 指標樣式 手型 */
    /* text-transform: uppercase; */
    height: 60px;
    width: 210px;
    /* opacity: 1; 透明度 */
    background-color: transparent;
    border: none;
}

#btn_contact--submit {
    /* 玻璃擬態效果 */
    background-image: linear-gradient 150deg, var(--gradient-w-a), var(--alpha-b-40);
    /* 取消表單元件的預設背景色 */
    box-shadow: 2px 2px 5px var(--alpha-b-20),
        inset -1px -1px var(--alpha-w-60);
    backdrop-filter: blur(5px);
}

#btn_contact--submit span {
    color: #164ca7;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
    /* 每個字左邊加字距 */
    padding-left: 1rem;
    /* 區塊置中時 因為字距不會對齊 而補回字距的間距 */
}

#btn_contact--submit:hover {
    animation: rotate 0.7s ease-in-out both;
}

#btn_contact--submit:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
            /* translate3d(0, 0, 0) */
        ;
    }

    25% {
        transform: rotate(3deg)
            /* translate3d(0, 0, 0) */
        ;
    }

    50% {
        transform: rotate(-3deg)
            /* translate3d(0, 0, 0) */
        ;
    }

    75% {
        transform: rotate(1deg)
            /* translate3d(0, 0, 0) */
        ;
    }

    100% {
        transform: rotate(0deg)
            /* translate3d(0, 0, 0) */
        ;
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0)
            /* translateZ(0) */
        ;
    }

    25% {
        transform: translate3d(4px, 0, 0)
            /* translateZ(0) */
        ;
    }

    50% {
        transform: translate3d(-3px, 0, 0)
            /* translateZ(0) */
        ;
    }

    75% {
        transform: translate3d(2px, 0, 0)
            /* translateZ(0) */
        ;
    }

    100% {
        transform: translate3d(0, 0, 0)
            /* translateZ(0) */
        ;
    }
}

/* 頁尾區 */
footer {
    padding: 20px;
}

footer div {
    display: flex;
    justify-content: space-between;
}

footer .navigation .menu {
    margin: 0;
    padding: 0;
}

footer .navigation .menu li {
    border: none;
    margin: 10px 0;
}

/* 中型設備(ipad air) */
@media(max-width:820px) {
    footer {
        text-align: center;
    }

    footer div {
        display: none;
    }
}

/* 中型設備(ipad air) */
@media(max-width:820px) {}

/* 小型設備(ipad air) */
@media(max-width:640px) {}