@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/* 一定要在第二行 */

@font-face {
    font-family: LEMONMILK;
    src: url(./webfont/LEMONMILK-Bold.otf);
}

/* 重置所有標籤的樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 不累加內距padding與邊框border */
}

/* 重置字體 */
body {
    font-family:
        /*西文*/
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, Arial,
        /*中文*/
        "蘋方-繁", "PingFang TC", "黑體-繁", "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Noto Sans TC", sans-serif;
    font-size: 100%;
    line-height: 1.5;
}

/* 重置標題 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* 重置列表 讓點點消失 */
ul,
ol {
    list-style: none;
}

/* 重置連接 */
a {
    display: block;
    text-decoration: none;
}

body {
    background-color: #577e5b;
    width: auto;
    margin: 0px;
    font-size: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    font-family: "Inknut Antiqua";
    font-size: 3rem;
    width: 500px;
}

#product {
display: flex;
flex-direction: row;
justify-content: center;
} 

/* 先設定整個box的寬度 */
.box_list {
    display: flex;
width: 1500px;
    margin: 30px;
}

figure {
    height: 30vh;

}

.item {
    flex: 1;
    margin: 0 15px;
    height: 60vh;
    overflow: hidden;
}

.content {
background-color: #39553c;
}

img {

    object-fit: cover;
    width: 100%;
    height: 30vh;
}

.content h1 {
    font-family: "Inknut Antiqua";
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 20px 10px 20px;
    color: aliceblue;
}

p {
    font-size: 1rem;
    text-align: justify;
    color: aliceblue;
    padding: 10px 20px 10px 20px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}