@use '../variables' as *;

// 重複使用的，可以整理成mixin



@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bordered-l ($width: 1px, $color: map-get($color, dark)) {
    border-left: $width solid $color;
}

@mixin multiple-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}