@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");
/* 重置所有標籤的樣式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 重置字體 */
body {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

/* 重置標題 */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* 重置列表 */
ul, ol {
  list-style: none;
}

/* 重置圖片 */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 重置連接 */
a {
  text-decoration: none;
}

main, main section {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "open-sans", sans-serif;
  color: #ffffff;
}

.basic-btn {
  display: inline-block;
  background-color: #ffffff;
  color: #1a1a1a;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 99px;
  transition: 0.1s ease-in-out;
}
.basic-btn:hover {
  background-color: #070707;
  color: #ffffff;
  border: 3px solid #e70112;
}

header {
  position: fixed;
}

main {
  flex-direction: column;
}
main section {
  width: 100%;
  height: 100vh;
}

#banner {
  overflow: hidden;
  background-image: url(../images/bg-pattern-logos.png), linear-gradient(165deg, #e70112 15%, #b20722 75%);
}
#banner > div {
  flex: 1;
}
#banner #content {
  padding: 50px;
}
#banner #content h2 {
  font-size: 11rem;
  font-weight: 900;
  line-height: 7rem;
  margin: 10% 0;
}
#banner #content h2 span {
  font-size: 1.8rem;
  font-weight: 800;
}
#banner #content p {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-bottom: 25px;
}
#banner #photo {
  position: relative;
  height: 100%;
}
#banner #photo figure {
  position: absolute;
}
#banner #photo .mario {
  width: 55%;
  animation: mario 8s 0s ease-in-out both infinite;
}
@keyframes mario {
  0% {
    top: 100vh;
    left: 35%;
  }
  10% {
    top: -5vh;
    left: 35%;
  }
  50% {
    top: -5vh;
    left: 35%;
  }
  60% {
    top: 100vh;
    left: 35%;
  }
  100% {
    top: 100vh;
    left: 35%;
  }
}
#banner #photo .luigi {
  width: 60%;
  animation: luigi 8s 0s ease-in-out both infinite;
}
@keyframes luigi {
  0% {
    top: 100vh;
    left: -10%;
  }
  15% {
    top: 5vh;
    left: -10%;
  }
  45% {
    top: 5vh;
    left: -10%;
  }
  60% {
    top: 100vh;
    left: -10%;
  }
  100% {
    top: 100vh;
    left: -10;
  }
}
#banner #photo .brick {
  width: 80%;
  animation: brick 8s 0s ease-in-out both infinite;
}
@keyframes brick {
  0% {
    top: 10vh;
    right: -100%;
  }
  10% {
    top: 10vh;
    right: -10%;
  }
  40% {
    top: 10vh;
    right: -10%;
  }
  60% {
    top: 10vh;
    right: -100%;
  }
  100% {
    top: 10vh;
    right: -100%;
  }
}
#banner #photo .pipe {
  width: 35%;
  top: 5vh;
  right: 3%;
}
#banner #photo .peach {
  width: 50%;
  top: 20vh;
  right: 25%;
}
#banner #photo .mario2 {
  width: 55%;
  top: 4vh;
  right: 60%;
}
#banner #photo .star {
  width: 65%;
  top: 5vh;
  right: 15%;
}
#banner #photo .toad {
  width: 35%;
  top: 50vh;
  right: 5%;
}
#banner #photo .mario3 {
  width: 70%;
  top: 5vh;
  right: 55%;
}/*# sourceMappingURL=style.css.map */