@use 'reset';
@use 'variables' as *;
@use 'function' as *;
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

body {
    font-family: $font-family-en;
    color: map-get($color, light);
}

.basic-btn {
    display: inline-block;
    @include basic-btn;
}

header {
    position: fixed;
}

main {
    @extend %flex-center;
    flex-direction: column;

    section {
        @extend %flex-center;
        width: 100%;
        height: 100vh;
    }
}

#banner {
    overflow: hidden;
    background-image: url(../images/bg-pattern-logos.png), linear-gradient(165deg, map-get($color, primary)15%, map-get($color, lesser-1)75%);

    >div {
        flex: 1;
    }

    #content {
        padding: $interval-xxxl;

        h2 {
            font-size: map-get($font-size , xxl);
            font-weight: 900;
            line-height: 7rem;
            margin: 10% 0;

            span {
                font-size: map-get($font-size, xl);
                font-weight: 800;
            }
        }

        p {
            font-size: map-get($font-size, l);
            line-height: map-get($font-size, l)*1.2;
            margin-bottom: $interval-xxl;
        }
    }

    #photo {
        position: relative;
        height: 100%;

        figure {
            position: absolute;
        }
        .mario{
            width: 55%;
            animation: mario 8s 0s ease-in-out both infinite;
        }
            @keyframes mario{
            0% {top:100vh; left: 35%;}
            10% {top:-5vh; left: 35%;}
            50% {top:-5vh; left: 35%;}
            60% {top:100vh; left: 35%;}
            100% {top: 100vh; left: 35%;}
        }
        .luigi{
            width: 60%;
            animation: luigi 8s 0s ease-in-out both infinite;
        }
        @keyframes luigi{
            0% {top:100vh; left: -10%;}
            15% {top: 5vh; left: -10%;}
            45% {top: 5vh; left: -10%;}
            60% {top:100vh; left: -10%;}
            100% {top: 100vh; left: -10;}
        }
        
        .brick{
            width: 80%;
            animation: brick 8s 0s ease-in-out both infinite;
        }
        @keyframes brick{
            0% {top: 10vh; right: -100%;}
            10% {top: 10vh; right: -10%;}
            40% {top: 10vh; right: -10%;}
            60% {top: 10vh; right: -100%;}
            100% {top: 10vh; right: -100%;}
        }
        .pipe{
            width: 35%;
            top: 5vh;
            right: 3%;
        }
        .peach{
            width: 50%;
            top: 20vh;
            right: 25%;
        }
        .mario2{
            width: 55%;
            top: 4vh;
            right: 60%;
        }
        .star{
            width: 65%;
            top: 5vh;
            right: 15%;
        }
        .toad{
            width: 35%;
            top: 50vh;
            right: 5%;
        }
        .mario3{
            width: 70%;
            top: 5vh;
            right: 55%;
        }
    }
}